.wrapper {

    padding-inline: 10vw;
}

.section {
    display: flex;
    position: relative;
    height: 100vh;
    min-height: 720px;
    /* border-bottom: 1px solid black; */
}

/* --------------image and name ----------- */
.featured-image {
    text-align: center;
    display: flex;
    align-items: center;
    width: 50%;
}

.typedText {
    text-transform: capitalize;
    color: var(--primary-color);
}

.myimage {
    width: 400px;
    border-radius: 51% 53% 61% 39% / 45% 51% 49% 58%;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.25);
}

.name {
    font-size: 30px;
    font-weight: 600;
    color: var(--secondary-color);
    margin-block: 20px;
}

.featured-textbox {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.typedtext {
    font-size: 50px;
    font-weight: 600;
    color: var(--secondary-color);
    margin-block: 20px;
}

.aboutme {
    font-size: 15px;
    margin-bottom: 30px;
}

/* ----------home page buttons----------- */
.hireme-btn {
    margin-right: 10px;
    color: var(--color-white);
    cursor: pointer;
    background-color: var(--secondary-color);
    font-weight: 500;
    border: 0px;
    border-radius: 5px;
    padding: 15px 25px 15px 25px;
    transition: all ease 0.3s;
}

.hireme-btn a {
    text-decoration: none;
    color: var(--color-white);
}

.cv-link {
    background-color: var(--gray-color);
    color: var(--color-black);
    font-weight: 500;
    border: 0px;
    border-radius: 5px;
    padding: 14px 25px 14px 25px;
    transition: all ease 0.3s;
}
.cv-link i {
    padding-right: 5px;
}

.buttons i {
    color: var(--secondary-color);
    font-size: 20px;
}

.cv-link:hover {
    color: var(--color-white);
    background-color: var(--primary-color);
}

/* ------------------social media icons------------------------ */
.social-icons {
    margin-top: 4em;
    gap: 30px;
    display: flex;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow:0px 0px 30px 1px rgba(103, 103, 103, 0.25);
    cursor: pointer;
    transition: all ease 0.3s;
}

.icon a {
    font-size: 20px;
    color: var(--color-black);
    text-decoration: none;
}

.icon a :hover {
    color: var(--primary-color);
}
